.auth__input {
    display: block;
    margin: 0;
    padding: 0 0 7px 0;
    width: 100%;
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    caret-color: white;
    transition: border-color 0.3s ease-in-out;
}

.auth__input:last-of-type {
  margin-top: 30px;
}

.auth__input:-webkit-autofill,
.auth__input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.auth__input::placeholder {
  font-size: 14px;
}

.auth__input:focus {
  outline: none;
  border-color: white;
}

.auth__input:focus::placeholder {
  color: transparent;
}